In [1]:
#Column Operations
import numpy as np
import pandas as pd
s1=pd.Series(['Krishna','Sai','Venkatesh','Bhargav'],index=['A','B','C','D'])
s2=pd.Series([52,85,65,75],index=['A','B','C','D'])
frame={'Name':s1,'Marks':s2}
df=pd.DataFrame(frame)
s3=pd.Series([81,90],index=['A','B'])
df['Extras']=s3
df['Total']=df['Marks']+df['Extras']
df['T']=df['Total']+df['Extras']
df
del df['Total']
df.pop('T')
df

   Marks       Name  Extras
A     52    Krishna    81.0
B     85        Sai    90.0
C     65  Venkatesh     NaN
D     75    Bhargav     NaN

In [2]:
#Row Operations
import numpy as np
import pandas as pd
s1=pd.Series(['Krishna','Sai','Venkatesh','Bhargav'],index=np.arange(0,len(s1)) )
s2=pd.Series([92,85,65,75])
frame={'Name':s1,'Marks':s2}
df=pd.DataFrame(frame)
df['Age']=pd.Series([24,22,16,18])
# print(df.iloc[1],df.loc[1],sep='\n')

#append operation on dataframes

df2=pd.DataFrame([['Srikanth',87,21],['Pavan',81,21]],columns=['Name','Marks','Age'])
df=df.append(df2,ignore_index=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
Age      6 non-null int64
Marks    6 non-null int64
Name     6 non-null object
dtypes: int64(2), object(1)
memory usage: 224.0+ bytes

In [3]:
#standard deviation for dataframe
import numpy as np
import pandas as pd
info={
    'Name':['Krishna','Hhahha','xXHJ'],
    'Age':[22,25,24],
    'salary':[22000,24000,21000]
}
a=pd.DataFrame(info,index=np.arange(1,len(info)+1))
a.Age

1    22
2    25
3    24
Name: Age, dtype: int64

In [4]:
pd.__version__

'0.22.0'

In [5]:
import numpy as np
import pandas as pd
def adder(c1,c2):
    return c1+c2
a=pd.Series([1,2,3,4,5])
a.pipe(adder,1)

0    2
1    3
2    4
3    5
4    6
dtype: int64

In [6]:
import pandas as pd
import numpy as np
def adder(c1,c2):
    return c1+c2
def sqr(c1):
    return c1*c1
a=[[4,3,2,1],[1,2,3,4],[8,7,6,5],[5,6,7,8]]
df=pd.DataFrame(a,columns=[8,5,9,2],index=[5,2,7,4])
b=df.pipe(adder,1)
c=b.apply(sqr)
d=c.applymap(lambda x:x*10)
print(df,b,c,d,sep='\n')
print('\n')
for p in d.itertuples():
    print(p)
e=d.sort_index(axis=1,ascending=False)
e

   8  5  9  2
5  4  3  2  1
2  1  2  3  4
7  8  7  6  5
4  5  6  7  8
   8  5  9  2
5  5  4  3  2
2  2  3  4  5
7  9  8  7  6
4  6  7  8  9
    8   5   9   2
5  25  16   9   4
2   4   9  16  25
7  81  64  49  36
4  36  49  64  81
     8    5    9    2
5  250  160   90   40
2   40   90  160  250
7  810  640  490  360
4  360  490  640  810


Pandas(Index=5, _1=250, _2=160, _3=90, _4=40)
Pandas(Index=2, _1=40, _2=90, _3=160, _4=250)
Pandas(Index=7, _1=810, _2=640, _3=490, _4=360)
Pandas(Index=4, _1=360, _2=490, _3=640, _4=810)

     9    8    5    2
5   90  250  160   40
2  160   40   90  250
7  490  810  640  360
4  640  360  490  810

In [7]:
# pandas options
import pandas as pd
pd.reset_option('display.max_columns')
pd.reset_option('display.max_rows')
print(pd.get_option('display.max_rows'))
print(pd.get_option('display.max_columns'))
pd.set_option('display.max_rows',100)
print(pd.get_option('display.max_rows'))
pd.set_option('display.max_columns',15)
print(pd.get_option('display.max_columns'))
pd.describe_option("display.max_rows")
with pd.option_context("display.max_rows",10):
    print(pd.get_option("display.max_rows"))
    print(pd.get_option("display.max_rows"))

60
20
100
15
display.max_rows : int
    If max_rows is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the height of the terminal and print a truncated object which fits
    the screen height. The IPython notebook, IPython qtconsole, or
    IDLE do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 60] [currently: 100]


10
10

In [8]:
# Statistical Functions
import pandas as pd
df=pd.DataFrame([['Krishna',23,29000],['Kumar',21,20000],['Aravind',23,30000]],index=[1,2,3],columns=['Name','Age','Salary'])
print(df['Age'].pct_change())
print(df['Age'].cov(df['Salary']))
print(df.cov())
print(df.corr())
print(df.rank())

1         NaN
2   -0.086957
3    0.095238
Name: Age, dtype: float64
6333.333333333333
                Age        Salary
Age        1.333333  6.333333e+03
Salary  6333.333333  3.033333e+07
             Age    Salary
Age     1.000000  0.995871
Salary  0.995871  1.000000
   Name  Age  Salary
1   2.0  2.5     2.0
2   3.0  1.0     1.0
3   1.0  2.5     3.0

In [9]:
# Windows Functions
import pandas as pd
df=pd.DataFrame([['Krishna',23,29000],['Kumar',21,20000],['Aravind',23,30000],['Charan',19,12000]],index=[1,2,3,4],columns=['Name','Age','Salary'])
print(df.rolling(window=1).mean())
print(df.expanding(min_periods=1).mean())
print(df.ewm(com=1).mean())
print(df.replace({20000:21000,'Kumar':' Srikanth'}))

      Name   Age   Salary
1  Krishna  23.0  29000.0
2    Kumar  21.0  20000.0
3  Aravind  23.0  30000.0
4   Charan  19.0  12000.0
      Name        Age        Salary
1  Krishna  23.000000  29000.000000
2    Kumar  22.000000  24500.000000
3  Aravind  22.333333  26333.333333
4   Charan  21.500000  22750.000000
      Name        Age   Salary
1  Krishna  23.000000  29000.0
2    Kumar  21.666667  23000.0
3  Aravind  22.428571  27000.0
4   Charan  20.600000  19000.0
        Name  Age  Salary
1    Krishna   23   29000
2   Srikanth   21   21000
3    Aravind   23   30000
4     Charan   19   12000

In [10]:
import pandas as pd
import numpy as np
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
   'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
   'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
   'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
   'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)
t=df.groupby('Year')
for name,group in t:
    print(name)
    print(group)
print(t.get_group(2014),'\n')
print(t['Points'].agg([np.mean,np.sum,np.std]))

2014
   Points  Rank    Team  Year
0     876     1  Riders  2014
2     863     2  Devils  2014
4     741     3   Kings  2014
9     701     4  Royals  2014
2015
    Points  Rank    Team  Year
1      789     2  Riders  2015
3      673     3  Devils  2015
5      812     4   kings  2015
10     804     1  Royals  2015
2016
   Points  Rank    Team  Year
6     756     1   Kings  2016
8     694     2  Riders  2016
2017
    Points  Rank    Team  Year
7      788     1   Kings  2017
11     690     2  Riders  2017
   Points  Rank    Team  Year
0     876     1  Riders  2014
2     863     2  Devils  2014
4     741     3   Kings  2014
9     701     4  Royals  2014

        mean   sum        std
Year
2014  795.25  3181  87.439026
2015  769.50  3078  65.035888
2016  725.00  1450  43.840620
2017  739.00  1478  69.296465

In [11]:
# joins in python
import pandas as pd
Pd=pd.DataFrame({'Pid':[1,2],'Pname':['Krishna','Kumar'],'Smarks':[50,70],'Sid':[1,4]})
Sd=pd.DataFrame({'Sid':[1,2,3,4],'Sname':['Maths','Science','Social','Hindi']})
print(pd.merge(Pd,Sd,on='Sid',how='left'))
print(pd.merge(Pd,Sd,on='Sid',how='right'))
print(pd.merge(Pd,Sd,on='Sid',how='outer'))
print(pd.merge(Pd,Sd,on='Sid',how='inner'))
print('\n',Pd.plot.bar())

   Pid    Pname  Sid  Smarks  Sname
0    1  Krishna    1      50  Maths
1    2    Kumar    4      70  Hindi
   Pid    Pname  Sid  Smarks    Sname
0  1.0  Krishna    1    50.0    Maths
1  2.0    Kumar    4    70.0    Hindi
2  NaN      NaN    2     NaN  Science
3  NaN      NaN    3     NaN   Social
   Pid    Pname  Sid  Smarks    Sname
0  1.0  Krishna    1    50.0    Maths
1  2.0    Kumar    4    70.0    Hindi
2  NaN      NaN    2     NaN  Science
3  NaN      NaN    3     NaN   Social
   Pid    Pname  Sid  Smarks  Sname
0    1  Krishna    1      50  Maths
1    2    Kumar    4      70  Hindi

 AxesSubplot(0.125,0.11;0.775x0.77)

In [12]:
# Time Series
import pandas as pd
print(pd.datetime.now())
print(pd.Timestamp('2021/12/14 01:02:03'))

2021-07-07 14:27:58.866485
2021-12-14 01:02:03

In [13]:
# Date Time functions in pandas
import pandas as pd
# Third parameter: freq= ‘x’, where ‘x’ can be ‘H’(hour), ‘D’(days), ‘W’(weeks), ‘M’(month), ‘Y’(years), etc.
d=pd.date_range('06/07/2021 ',periods=10,freq='Y')
print(d)
x=pd.datetime.now()
x.month,x.year

DatetimeIndex(['2021-12-31', '2022-12-31', '2023-12-31', '2024-12-31',
               '2025-12-31', '2026-12-31', '2027-12-31', '2028-12-31',
               '2029-12-31', '2030-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

(7, 2021)

In [20]:
import pandas as pd
d=pd.DataFrame()
d['date']=pd.date_range('01/01/2021 12:45:30',periods=72,freq='M')
d['year']=d['date'].dt.year
d['month']=d['date'].dt.month
d['day']=d['date'].dt.day
d['hour']=d['date'].dt.hour
d['minutes']=d['date'].dt.minute
d['seconds']=d['date'].dt.second
d.head(1)

                 date  year  month  day  hour  minutes  seconds
0 2021-01-31 12:45:30  2021      1   31    12       45       30

In [15]:
def divide(a,b):
    return a/b
def decorator(func):
    def wrapper(a,b):
        if b==0:
            print("Can't divide by 0!")
            return
        return func(a,b)
    return wrapper
div=decorator(divide)
div(0,1)

0.0

In [16]:
def smart_divide(func):
    def inner(a, b):
        print("I am going to divide", a, "and", b)
        if b == 0:
            print("Whoops! cannot divide")
            return

        return func(a, b)
    return inner


@smart_divide
def divide(a, b):
    print(a/b)

In [17]:
def deco1(h):
    def wrap(b):
        if len(b)<=2:
            print('Name should be atleast of 3 letters')
            return 
        print('#####')
        h(b)
        print('#####')
    return wrap
def deco2(h):
    def wrap(b):
        if len(b)<=2:
            print('Name should be atleast of 3 letters')
            return 
        print('$$$')
        h(b)
        print('$$$')
    return wrap
@deco1
@deco2
def hello(s):
    s=s.center(3)
    print('Hi',s.title())
hello(str(input()))

sdfgh
#####
$$$
Hi Sdfgh
$$$
#####

In [31]:
import numpy as np
arr = np.array([1,2,3,4,5,6,7])
arr[0]

1